h2 {
    color: rgba(0, 0, 0, 0.5);
    background-color: yellow;
}

body {
    font-family: Oswald;
}

h3{
    text-align: center;
}

td {
    padding-top: 10px;
    padding-left: 10px;
}

.button {
    text-align: center;
}

.bg-dark-blue {
    background-color: #c1d6f7;
}

.bg-light-blue {
    background-color: #dce8fa;
}
