
/*
.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}
 */

body {
    font-family: 'Open Sans', sans-serif;
}

.cart {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/*
.cart:hover {
    text-decoration: none;
    color: #d60e96;
}
*/

.cart .cart-basket {
    font-size: .6rem;
    position: absolute;
    top: -6px;
    right: -5px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: rgb(83, 141, 234);
    border-radius: 50%;
}

#forgotPassword, .errorMessage, .form-label, .form-check-label, .form-text {
    font-size: 14px;
}

.card-title, .price{
    color: #47484a;
}

.productImage {
    width: 700px;
}